body{
    background-image: url(Desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    margin-left: 80px;
    min-height: 90px;
    max-height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

#logo{
    max-width: 200px;
    max-height: 32px; 
    min-width: 120px;
    min-height: 19px; 
}

main{
    margin-top: 40px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#mobile{
    max-width: 696px;
    min-width: 293px;
    max-height: 493px;
    min-height: 209px;
}

#block{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#titre{
    min-width: 250px;
    min-height: 80px;
    max-width: 487px;
    max-height: 160px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
    padding-bottom: 0%;
}

#contenu{
    min-width: 260px;
    min-height: 81px;
    max-width: 520px;
    max-height: 160px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 0%;
}

#bouton{
    background: url("./Group 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 80px;
}

#bouton:hover{
    background: url("./Group 2bis.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 80px;
}

footer{
/*    margin-left: 80px;*/
  
    min-height: 107px;
    max-height: 107px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
}

#réseaux{
    width: 152px;
    height: 40px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#facebook{
    width: 40px;
    height: 40px; 
}

#tweeter{
    width: 40px;
    height: 40px; 
}

#instagrame{
    width: 40px;
    height: 40px; 
}




#facebook{
    background-image: url("./Group_17.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}

#facebook:hover{
    background: url("./Group_17bis.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}

#tweeter{
    background: url("./Group_16.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}

#tweeter:hover{
    background: url("./Group_16bis.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}

#instagrame{
    background: url("./Group_15.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px; 
}

#instagrame:hover{
    background: url("./Group_15bis.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 700px){
    body{
        background-image: url(Mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: -80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center
    }
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    #logo{
        margin-left: -70%;
        max-width: 120px;
        max-height: 19px; 
        min-width: 120px;
        min-height: 19px; 
    }

    main{
        margin-top: 40px;
        margin-left: 15%;
    }

    #mobile{
        max-width: 293px;
        min-width: 293px;
        max-height: 209px;
        min-height: 209px;
    }
    
    #contenant{

        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #block{
        margin-top: 25px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    
    #titre{
        margin-bottom: 0px;
        max-width: 300px;
        max-height: 80px;
        min-width: 300px;
        min-height: 80px;

        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 24px;
        color: white;
        text-align: center;
    }
    
    #contenu{
        min-width: 300px;
        min-height: 123px;
        max-width: 300px;
        max-height: 123px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: white;
        text-align: center;
    }
    
    #bouton{
        background: url("./bouton_port.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 40px;
    }
    
    #bouton:hover{
        background: url("./bouton_portbis.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 40px;
    }
    
    footer{
        margin-left: 80px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
 
    }
    
    #réseaux{
        width: 100px;
        height: 28px; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #facebook{
        background-image: url("./Group_17.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 27.5px;
        height: 28px;
    }

    #facebook:hover{
        background: url("./Group_17bis.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 27.5px;
        height: 28px; 
    }

    #tweeter{
        background: url("./Group_16.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 27.5px;
        height: 28px; 
    }

    #tweeter:hover{
        background: url("./Group_16bis.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 27.5px;
        height: 28px; 
    }

    #instagrame{
        background: url("./Group_15.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 27.5px;
        height: 28px; 
    }

    #instagrame:hover{
        background: url("./Group_15bis.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 27.5px;
        height: 28px;
    }

}